<h3>Post a comment</h3>

<%= form_for([ @article, @comment ], html: {class: 'pure-form comment'}) do |f| %>
    <p>
      <%= f.text_field :author_name, placeholder: 'Your name' %>
    </p>
    <p>
      <%= f.text_area :body, placeholder: 'Your comment' %>
    </p>
    <p>
      <%= f.submit 'Submit', class: 'pure-button' %>
    </p>
<% end %>