<% if @articles.empty? %>
    <h3>No articles</h3>
<% end %>

<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
      <span class="tags"> #
        <% article.tags.each do |tag| %>
            <%= tag.name %>
        <% end %>
      </span>
    </li>
  <% end %>
</ul>

<% if logged_in? %>
    <%= link_to 'Create new article', new_article_path, class: 'new_article' %>
<% end %>